<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Template</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Edit Page</h1>
    <!-- DISPLAY STUFF FROM THE DATA BASE SECTION -->
    <ul>
         <% itemList.forEach(item => { %> 
            <% if (item._id == idItem) {%> <!-- if clicked item is equal to the item in the list, display it as a form. -->
        <li>
            <form action="/edit/update/<%=item._id%>" method="POST">
                <label for="textinput">Input Text</label>
                <input type="text" name="textinput" value="<%= item.textinput %>">
                <label for="numberinput">Input Number</label>
                <input type="number" name="numberinput" value="<%= item.numberinput %>">
                <button type="submit">Confirm</button>
             </form>
            <a href="/">Cancel</a>
        </li>
            <%} else {%> <!-- Otherwise -->
            <li>
                <div><%= item.textinput %></div>
                <div><%= item.numberinput %></div>
                <a href="/edit/<%= item._id %>">Edit</a>
                <a href="/edit/remove/<%= item._id %>">Remove</a>
            </li>
            <% } %>
        <% })%>
    </ul>
</body>
</html>